@media screen and (max-width: 600px) {
  .web-page {
    margin: 5px;
    min-width: 550px;
  }
  .container-ex,
  .container-nav,
  .container-ey,
  .container-ec,
  .container-ec1,
  .container-es {
    display: block;
  }
  .nav-sizes {
    display: none;
  }
  .nav-size {
    padding: 15px 30px;
    border: none;
  }
  #nav-bar {
    text-align: left;
  }
  .cer2 {
    border-left: none;
  }
  th,
  td,
  table {
    border: 0.3px solid;
    text-align: left;
    font-size: xx-small;
    color: gray;
    border-collapse: collapse;
    padding: 15px 10px;
    height: 80px;
  }

  /* mobile for digital */
  .boxer {
    padding: 50px;
  }
}
